<div class="coin">
    <div class="coin-img">
        <img src="{{image}}" />
    </div>
    <div class="coin-info">
        <h1>{{name}}</h1>
        <p><span>Email: </span>{{email}}</p>
        <p><span>Phone: </span>{{phone}}</p>
    </div>

    <a href="/employees/{{_id}}/details" class="btn-details">Details</a>
</div>