<tbody>

    <tr class={{status}}>
        <td>{{title}}</td>
        <td>{{status}}</td>
        <td>{{assigneeName}}</td>
        <td class="todo-action">
            <a href="/tasks/{{_id}}/details" class="btn todo-btn">Details</a>
        </td>
    </tr>
</tbody>